.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5em;
}

.column-3{
    grid-column: 1 / span 3;
}

.column-9{
    grid-column: 4 / span 9;
}

@media screen and (max-width: 768px){
    .column-3{
        grid-column: 1 / -1;
    }
    
    .column-9{
        grid-column: 1 / -1;
    }
}